@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'microsoft yahei',Arial,sans-serif;
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

a{
	color:#039;
}
.pop{
	position:absolute;
	left:50%;
	top:50%;
	width:200px;
	height:220px;
	margin-left: -100px;
	margin-top: -110px;
	border:1px solid #ccc;
	z-index: 9999;
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.pop_head{
	position:relative;
}
.pop_head a.close{
	width:47px;
	height:46px;
	background:url(../img/close.png);
	position:absolute;right:-23px;
	line-height:20px;
	color:#000;
	text-decoration:none;
	top:-23px;
}
.pop_body{
	padding:10px;
	width:200px;
	height:220px;
	overflow:hidden;
	background-color: #000000;
    text-align: center;
}



body {
	background: #333;
	color: #fff;
	font-weight: 200;
	font-size: 1em;
	font-family: 'microsoft yahei',Arial,sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-weight: 600;
}

a:hover, a:focus {
	color: #debcc3;
}

section {
	padding: 1em;
	text-align: center;
}

/* Header */
.codrops-header {
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	max-width: 500px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 200;
	font-size: 28px;
	line-height: 1;
}

.codrops-header h1 span {
	display: block;
	padding: 0.5em 0 0.6em 0.1em;
	font-size: 40%;
	line-height: 1.2;
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.69em;
	line-height: 2.2;
	position: relative;
	z-index: 2000;
}

.codrops-top a {
	display: inline-block;
	padding: 0.3em 0.7em;
	text-decoration: none;
	letter-spacing: 1px;
	margin: 5px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'microsoft yahei',Arial,sans-serif;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 2em;
	font-size: 0.8em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 2px solid #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 165px;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #debcc3;
	border-color: #debcc3;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}